[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pytest = "*"
cfn-lint = "*"
pyyaml = ">=3.13"
proselint = "*"
jupyter = "*"

[requires]
python_version = "3.8"
