h1, h2, h3, h4, h5, h6 {
  font-family: "Droid Serif";
  line-height: 1em;

}

body {
  padding: 2em;
  font-family: "Droid Sans", "Arial";
  font-size: 14px;
  line-height: 1.5em;
}

.date {
  font-family: "Droid Sans Mono", "Consolas";
  color: #202F66;
}

/* Make images stay on their own line and center themselves within the page.*/
article img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
