.blockquote {
    font-style: italic;
}
.subscribe {
    color: orange;
}
.subscribe:hover {
    color: darkorange;
}


.svgIcon {
    width: 32px;
    height: 32px;
}

h1,
h2,
h3 { 
    font-weight: 900;
}

h1,
h2,
h3,
p {
  font-size: clamp(
    var(--fluid-type-min, 1rem),
    calc(1rem + var(--fluid-type-target, 3vw)),
    var(--fluid-type-max, 1.3rem)
  );
}