<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Joshua Lowell Cole" />
    <link rel="stylesheet" href="/css/bootstrap.css" media="screen">
    <link rel="stylesheet" href="/css/bootstrap-responsive.css" media="screen">
    <link rel="stylesheet" href="/css/blog.css" media="screen">
    {% if page.title %}
      <title>Joshua Cole: {{ page.title }}</title>
    {% else %}
      <title>Joshua Cole: Home</title>
    {% endif %}
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js"></script>
    <script>
  	WebFont.load({
            google: {
                families: ['Droid Sans', 'Droid Serif', 'Droid Sans Mono']
            }
  	});
    </script>
  </head>
  <body>
  <div class="row-fluid">
    <div class="span4">
      <header class="media">
        <img
	  class="pull-left img-circle media-objectt"
	  src="https://www.gravatar.com/avatar/dfcd7f132a84516bb79ae96236e94501.png"
	  alt="Joshua's Gravatar">
        <div class="media-body">
          <h4 class="media-heading">My name is Joshua</h4>
	  I'm a software engineer who wants to make state of the art machine learning backed
	  products. When I'm not learning or working, I'm likely to be playing video games or
	  reading books. 
        </div>
      </header>
    </div>
    <div class="span6">
      {{ content }}
    </div>
    
  </div>
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
