<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Subscriptions and Notifications -->
    <meta name="follow_it-verification-code" content="DumQfZmfXJN5jtC7tGkt"/>
    {% feed_meta %}

    <!-- Styling and Visuals -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/monokai.css" />
    <link rel="stylesheet" href="/css/typography.css" />

    <script>
        window.d3VizInits = [];
    </script>


    <!-- Analytics -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134626494-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-134626494-1');
    </script>
    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};
            if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
            n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t,s)}(window, document,'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '415975845779669');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none" alt="FB Pixel"
                   src="https://www.facebook.com/tr?id=415975845779669&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->


    <!-- Page metadata -->
    {% if page.title %}
        <title>Joshua Cole: {{ page.title }}</title>
    {% else %}
        <title>Joshua Cole: Home</title>
    {% endif %}
    {% seo %}

    <!-- Sharing Tool Integration -->
    <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=6035bcacf860700011e71dd5&product=inline-share-buttons' async='async'></script>

</head>
<body class="d-flex flex-column min-vh-100">
<div class="container">
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="/">Joshua Cole's</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/meta.html">Meta</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
{{ content }}

{% include footer.html %}

<script type="text/javascript" src="/js/jquery-3.3.1.slim.min.js"></script>
<script type="text/javascript" src="/js/popper.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/d3.5.9.1.min.js"></script>
<script type="text/javascript" src="/js/underscore.js" ></script>
<script type="text/javascript" src="/js/visualization.js"></script>
<script type="text/javascript" src="/js/horizon.js"></script>
<script type="text/javascript" src="/js/popfoots.js"></script>

</body>
</html>
